.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  
}
.AppHeader{
 height: 50px;
 display: flex;
 justify-content: space-between;
 align-items: center;
 padding:30px 15px;
 border-bottom: 1px solid rgba(97, 17, 17, 0.15);
 
}
.Navleft{

}
.NavleftContent{
  display: flex;
  flex: 1;
  justify-content: flex-start;
  align-items: flex-start;
}
.Program{
  
}
.AddProgram{

  display: flex;
  flex: 3;
  justify-content: flex-start;
  align-items: center;
  height: 80px;
  padding: 30px 20px;
  margin: 34px;


}
.EditProgram{

}
.Layout{
  
}
.Navbar{

}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
